<nav class="navbar">
  <div class="navbar-logo">
    <a [routerLink]="['/', currentLang, 'home']">
      <img src="logo.png" />
    </a>
    <button class="navbar-toggler" id="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <ul class="navbar-menu" id="navbar-menu">
    <li class="navbar-item">
      <a [routerLink]="['/', currentLang, 'home']">home</a>
    </li>
    <li class="navbar-item movie-item">
      <a [routerLink]="['/', currentLang, 'movie', 'popular']">movies</a>
    </li>
    <li class="navbar-item tv-item">
      <a [routerLink]="['/', currentLang, 'tv', 'popular']">tv</a>
    </li>
    <li class="">
      <app-dropdown />
    </li>
  </ul>
</nav>
