<nav class="navbar">
  <div class="navbar-logo">
    <a [routerLink]="['/home']">
      <img src="logo.png" />
    </a>
    <button class="navbar-toggler" id="navbar-toggler">
      <span class="navbar-toggler-icon">asdasd</span>
    </button>
  </div>
  <ul class="navbar-menu" id="navbar-menu">
    <li class="navbar-item movie-item">
      <a [routerLink]="['/:lang/home', currentLang]">home</a>
    </li>
    <li class="navbar-item movie-item">
      <a [routerLink]="[':lang/movie/popular', currentLang]">movies</a>
    </li>
    <li class="navbar-item tv-item"><a [routerLink]="">tv</a></li>
    <li class="navbar-item popular-item"><a [routerLink]="">popular</a></li>
    <li class="navbar-item login-item"><a [routerLink]="">login</a></li>
  </ul>
</nav>
