@import "../../../variables.scss";

.container {
  width: 100%;

  .sub-navbar {
    background: $bg-color-4;
    padding: 1rem 0;
    width: 100%;
    .sub-navbar-items {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .item {
        list-style: none;
        button {
          background-color: inherit;
          font-size: 16px;
          border: none;
          color: $font-color;
          font-weight: 600;
          cursor: pointer;
          transition: ease-in 0.2s;
        }

        &:hover {
          button {
            color: $salmon;
          }
        }
      }
    }
  }
}
