<div class="container">
  <div class="sub-navbar">
    <ul class="sub-navbar-items">
      <li class="item"><a>Overview</a></li>
      <li class="item"><a>Images</a></li>
      <li class="item"><a>Videos</a></li>
      <li class="item"><a>Cast & Crew</a></li>
    </ul>
  </div>
  <div class="media-container">
    <app-overview id="overview" />
    <app-images id="images" />
    <app-videos id="videos" />
    <!-- Montar um para mostrar o cast -->
    <!-- <app-person-details id="person" /> -->
  </div>
</div>
