<div class="container">
  <div class="trending">
    <div class="title-box">
      <h1 class="calling-text">Trending</h1>
      <div class="btn-container">
        <button
          id="day"
          class="call-button"
          [class.active]="toggleActive()"
          (click)="changeToDay()"
        >
          Today
        </button>
        <button
          id="week"
          class="call-button"
          [class.active]="!toggleActive()"
          (click)="changeToWeek()"
        >
          This Week
        </button>
      </div>
    </div>
    @if (loading) {
    <div class="loading-box">
      <app-loading />
    </div>
    } @else {
    <div class="media-box">
      @for (item of trendingList; track item.id) {
      <app-media
        [mediaId]="item.id"
        [mediaType]="item.media_type"
        [title]="item.title"
        [posterSrc]="item.poster_path"
        [date]="item.date"
        [vote]="item.vote_average"
      />
      }
    </div>
    }
  </div>
</div>
