// Tailwind Zinc:
// These names where a bad choice :(
$bg-color-1: #09090b;
$bg-color-2: #27272a;
$bg-color-3: #18181b;
$bg-color-4: #3f3f46;
$font-color: #fafafa;
$font-hover: #a1a1aa;
$salmon: #de8972;
$yellow: #eab308;
