<div class="container">
  @if (loading) {
  <div class="loading">
    <app-loading />
  </div>
  } @else {
  <div class="main" style="background-image: url('{{ data.backdrop_path }}');">
    <div class="box-1">
      <button class="expand-poster">
        <img class="poster-image" src="{{ data.poster_path }}" />
      </button>
    </div>
    <div class="box-2">
      <div class="main-info">
        <h1 class="title">
          {{ data.name }}
          <span class="release-year">({{ data.releaseYear }})</span>
        </h1>
        @for (genre of data.genres; track data.id) {
        <div class="genres">
          <a href="">
            <h5 class="genre">{{ genre.name }}</h5>
          </a>
        </div>
        }
      </div>
      <div class="score">
        <fa-icon class="fa-icon" [icon]="faStar" />
        <span> {{ data.vote_average }} / 5.0 </span>
      </div>
      <div class="overview">
        <h2>Overview</h2>
        <span>{{ data.overview }}</span>
      </div>
    </div>
  </div>
  <div class="similar">
    <app-similar-shows />
  </div>
  }
</div>
