@import "../../../../variables.scss";

.card {
  width: 200px;
  height: auto;
  transition: all 0.3s;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.25);
}

.score {
  position: absolute;

  left: -20px;
  top: -20px;

  transform: scale(0);
  transition: all 0.5s ease;

  .vote-icon {
    color: rgba($color: $yellow, $alpha: 0.3);
    font-size: 50px;
  }

  .vote-number {
    left: 16px;
    bottom: 20px;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
  }
}

.card:hover .score {
  transform: scale(1);
}

.actions {
  position: absolute;

  right: 25px;
  top: -1px;

  transform: scale(0);
  transition: all 0.5s ease;

  .bookmark-icon {
    font-size: 24px;
    color: rgba($color: $font-color, $alpha: 0.3);
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      color: $salmon;
    }
  }
}

.card:hover .actions {
  transform: scale(1);
}

.img {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.img-container {
  display: grid;
  border-radius: 0.5rem;
  background: none;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  text-align: start;
  padding: 0.5rem;
  width: 90%;
  transition: all 0.5s ease;
  backdrop-filter: blur(0.1rem);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transform: scale(0);
}

.card:hover .description {
  transform: scale(1);
}

.description:hover {
  box-shadow: none;
}

.title {
  color: $font-color;
}

p {
  color: $font-hover;
  font-style: italic;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}
